* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px 40px;
    font-family: 'Amatic SC';
}

#title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 50px;
}

#items-to-add, #add {
    margin-bottom: 20px;
    font-family: 'Amatic SC';
    font-size: 30px;
}

#items-to-add {
    padding: 7px;
}

#add {
    padding: 7px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 30px;
}

li i {
    margin-right: 10px;
}
